/*--------------------------------
UNIVERSAL
--------------------------------*/

body {
  box-sizing: border-box;
}

/*--------------------------------

BODY
--------------------------------*/
body {
  max-width: 1300px;
  height: 2104px;
}

.uppercase {
  text-transform: uppercase;
}

.hor-center-container {
  width: 990px;
  margin: 0 auto;
}

/*--------------------------------

COLORS
--------------------------------*/


/*--------------------------------

HEADER
--------------------------------*/
header {
  background-color: #1c78bb;
  height: 523px;
  font-family: 'Oswald', sans-serif;
  position: relative;
}

header section.top-bar {
  position: absolute;
  top: 0px;
  width: 990px;
}

header section.top-bar img {
  vertical-align: middle;
}

header .transparent-image {
  visibility: hidden;
}

header section.top-bar nav {
  float: right;
}

header section.top-bar ul {
  display: inline-block;
}

header section.top-bar ul li {
  display: inline-block;
}

header div.hgroup {
  position: relative;
  top: 225px;
}

header h1 {
  color: #fff;
  font-size: 70px;
  text-align: center;
}

h3 {
  color: #083451;
  font-size: 14px;
  text-align: center;

}


/*--------------------------------

CONTENT SECTION
font-family: 'Open Sans', sans-serif;
--------------------------------*/

section.content {
  width: 100%;
  height: 1008px;
}


/*--------------------------------

ARTICLE
--------------------------------*/

.content > article {
  display: inline-block;
  height: 100%;
}

.article-container {
  width: 861px;
  /* padding-left: 164px; */
  height: 100%;
}
.article-container h1 {
  color: #083452;
  font-size: 45px;
}



/*--------------------------------

SIDEBAR
--------------------------------*/
.content > sidebar {
  display: inline-block;
  width: 439px;
  height: 100%;
  vertical-align: top;
}

sidebar figure.author-social {
  height: 270px;
}

sidebar figure.ad {
  height: 374px;
}

sidebar section.sidebar-heading {
  height: 364px;
}

/*--------------------------------

CAROUSEL SLIDER
--------------------------------*/
section.carousel {
  height: 476px;
}

section.carousel > h2 {
  text-align: center;
  line-height: 146px;
  font-size: 45px;
}

/*--------------------------------

FOOTER
--------------------------------*/

footer {
  background-color: #083452;
}

.footer-container {
  max-width: 990px;
  margin: 0 auto;
}
