/*--------------------------------
UNIVERSAL
--------------------------------*/

* {
  -webkit-box-sizing: border-box;
}

/*--------------------------------

BODY
--------------------------------*/
body {
  max-width: 1300px;
  height: 2104px;
}

.uppercase {
  text-transform: uppercase;
}

.hor-center-container {
  width: 990px;
  margin: 0 auto;
}

.transparent-image {
  visibility: hidden;
}

.icon-size-image {
  height: 22px;
  width: 22px;
}

p {
  font-family: 'Open Sans', sans-serif;
}


/*--------------------------------

COLORS
--------------------------------*/


/*--------------------------------

HEADER
--------------------------------*/
header {
  background-color: #1c78bb;
  height: 523px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

header section.top-bar {
  position: absolute;
  top: 0px;
  width: 990px;
}

header section.top-bar img {
  vertical-align: middle;
}

header section.top-bar nav {
  float: right;
}

/* transparent image is previous sibling to this ul: */

header section.top-bar ul {
  display: inline-block;
}

header section.top-bar ul li {
  display: inline-block;
}

header div.hgroup {
  position: relative;
  top: 225px;
}

header h1 {
  color: #fff;
  font-size: 70px;
  text-align: center;
}

h3 {
  color: #083451;
  font-size: 14px;
  text-align: center;

}


/*--------------------------------

CONTENT SECTION
font-family: 'Open Sans', sans-serif;
--------------------------------*/

section.content {
  height: 1008px;
}


/*--------------------------------

ARTICLE
--------------------------------*/

.main-article {
  display: inline-block;
  width: 698px;
  height: 100%;
  text-align: left;
  padding-right: 85px;
}

.main-article h1 {
  color: #083452;
  font-size: 45px;
  font-family: 'Oswald', arial;
}

.main-article ul.byline li {
  display: inline-block;
}

.main-article ul.byline span {
  color: #bac6cf;
}


.main-article ul.byline a{
  text-decoration: none;
}

.main-article time {
  text-decoration: underline;
}

.main-article p {
  color: #5e686f;
}

.main-article p a {
  color: #2d7fbc;
  text-decoration: underline;
}

.main-article blockquote {
  font-family: 'Open Sans', sans-serif;
  color: #106db3;
  border-left: 1px solid #d3d3d3;
}

.main-article div.social-button {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  -webkit-box-sizing: content-box;
  padding: 13px 10px 12px 10px;
}

.main-article span.button-icon {
  background-color: #5e686f;
  -webkit-box-sizing: content-box;
  padding: 13px 10px 12px 10px;
}

.main-article span.button-text {
  background-color: #a3b3bf;
  -webkit-box-sizing: content-box;
  padding: 13px 10px 12px 10px;
}



/*--------------------------------

SIDEBAR
--------------------------------*/
.content sidebar {
  display: inline-block;
  width: 278px;
  height: 100%;
  vertical-align: top;
}

sidebar figure.author-social {
  height: 270px;
}

sidebar figure.ad {
  height: 374px;
}

sidebar section.sidebar-heading {
  height: 364px;
}

/*--------------------------------

CAROUSEL SLIDER
--------------------------------*/
section.carousel {
  height: 476px;
}

section.carousel > h1 {
  text-align: center;
  line-height: 146px;
  font-size: 45px;
  color: #083452;
  font-family: 'Oswald', arial;
}

/*--------------------------------

FOOTER
--------------------------------*/

footer {
  background-color: #083452;
  color: #97a9b6;
  font-family: 'Open Sans', sans-serif;
}

.footer-container {
  max-width: 990px;
  margin: 0 auto;
}

footer section.bottom-bar img {
  vertical-align: middle;
}

footer section.bottom-bar nav {
  float: right;
}

/* transparent image is previous sibling to this ul: */

footer section.bottom-bar ul {
  display: inline-block;
}

footer section.bottom-bar ul li {
  display: inline-block;
}

footer li.right-border {
  border-right: 1px solid #53616b;
}
