/*--------------------------------
UNIVERSAL
--------------------------------*/

* {
  -webkit-box-sizing: border-box;
}

/*--------------------------------

BODY
--------------------------------*/
body {
  max-width: 1300px;
  height: 2104px;
}

.uppercase {
  text-transform: uppercase;
}

.hor-center-container {
  width: 1032px;
  margin: 0 auto;
}

.transparent-image {
  visibility: hidden;
}

.icon-size-image {
  height: 22px;
  width: 22px;
}

p {
  font-family: 'Open Sans', sans-serif;
}


/*--------------------------------

COLORS
--------------------------------*/


/*--------------------------------

HEADER
--------------------------------*/
header {
  background-color: #1c78bb;
  height: 523px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

header section.top-bar {
  position: absolute;
  top: 7px;
  width: 1032px;
}

section.top-bar span.logo-container {
  position: relative;
  left: 3px;
}

.logo-container span {
  position: relative;
  left: 1px;
}

header section.top-bar img {
  vertical-align: middle;
}

header section.top-bar span {
  font-size: 16px;
}

header section.top-bar nav {
  float: right;
  position: relative;
  left: -27px;
}

/* transparent image is previous sibling to this ul: */

header section.top-bar ul {
  display: inline-block;
}

header section.top-bar ul li {
  display: inline-block;
  font-family: 'Oswald', arial;
  font-size: 18px;
}

header section.top-bar ul li:first-child {
  margin-right: 8px;
}

header section.top-bar ul li:last-child {
  position: relative;
  left: 2px;
}

header section.top-bar nav img {
  position: relative;
  top: -4px;
}



header div.hgroup {
  position: relative;
  top: 207px;
}

header h1 {
  color: #fff;
  font-size: 107px;
  letter-spacing: -5px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: #083451;
  font-size: 15px;
  text-align: center;
  position: absolute;
  left: -6px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: -16px;
}


/*--------------------------------

CONTENT SECTION
font-family: 'Open Sans', sans-serif;
--------------------------------*/

section.content {
  height: 1008px;
  border-bottom: 1px solid #e4e9ec;
}


/*--------------------------------

ARTICLE
--------------------------------*/

.main-article {
  display: inline-block;
  width: 698px;
  height: 100%;
  text-align: left;
  padding-top: 63px;
  padding-right: 80px;
  padding-bottom: 69px;
  padding-left: 29px;
}

.main-article h1 {
  color: #083452;
  font-size: 63px;
  font-family: 'Oswald', arial;
  line-height: 1.1;
}

.main-article ul.byline {
  padding-top: 8px;
  padding-left: 3px;
  padding-bottom: 32px;
}

.main-article ul.byline li {
  display: inline-block;
}

.main-article ul.byline img {
  /* vertical-align: middle;*/
}

.main-article ul.byline a {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.main-article ul li:nth-child(2){
  position: relative;
  top: -4px;
  left: 6px;
}

.main-article ul li:last-child {
  position: relative;
  top: -2px;
  left: 19px;
}

.main-article ul.byline span {
  color: #bac6cf;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.main-article time {
  text-decoration: underline;
}

.main-article div.p-container {
  padding-bottom: 21px;
}

.main-article p {
  color: #5e686f;
  font-size: 15px;
  line-height: 27px;
}

.main-article p a {
  color: #2d7fbc;
  text-decoration: underline;
}

.main-article .quote-container {
  padding-bottom: 38px;
}

.quote-container h2 {
  display: inline-block;
  padding-left: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #106db3;
  font-size: 27px;
}

.quote-container hr {
  display: inline-block;
  border: none;
  width: 1px;
  size: 56px;
  background-color: #d3d3d3;
}

div.p-container:nth-of-type(2) {
  padding-bottom: 19px;
}

.main-article div.social-button {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 13px;
  -webkit-box-sizing: content-box;
  padding: 3px 10px 9px 3px;
}

.main-article span.button-icon {
  background-color: #5e686f;
  -webkit-box-sizing: content-box;
  padding: 5px 9px 7px 10px;
}

.main-article span.button-text {
  background-color: #a3b3bf;
  -webkit-box-sizing: content-box;
  padding: 5px 12px 7px 14px;
}

div.social-button:nth-child(2) {
  margin-left: -6px;
}

div.social-button:last-child {
  margin-left: -3px;
}

/* div.social-button:nth-child(2),
div.social-button:last-child {

} */
/*--------------------------------

SIDEBAR
--------------------------------*/
.content sidebar {
  display: inline-block;
  width: 278px;
  height: 100%;
  vertical-align: top;
}


sidebar figure.author-social {
  height: 270px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 83px;
}

figure.author-social > div {
  font-size: 16px;
  color: #1e76b7;
}

figure.author-social li {
  display: inline-block;
  font-size: 12px;
  color: #a7b6c2;
}

sidebar li.right-border {
  border-right: 1px solid #fafafa;
}

sidebar figure.ad {
  height: 374px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}

sidebar figure.ad figcaption a {
  color: #b9c6ce;
}

sidebar section.sidebar-heading {
  height: 364px;
}

section.sidebar-heading h1 {
  font-size: 16px;
  color: #0b70af;
  font-family: 'Oswald';
}

section.sidebar-heading p {
  font-size: 12px;
  color: #a7b6c2;
}

/*--------------------------------

CAROUSEL SLIDER
--------------------------------*/
section.carousel {
  height: 476px;
  width: 1300px;
}

section.carousel > h1 {
  text-align: center;
  line-height: 146px;
  font-size: 45px;
  color: #083452;
  font-family: 'Oswald', arial;
}

.carousel-images {
  display: inline-block;
  position: relative;
}

.carousel-images h2 {
  position: absolute;
  left: 18px;
  bottom: 16px;
  width: 100%;
  color: #fff;
  font-family: 'Oswald', arial;
  font-size: 24px;
}

/*--------------------------------

FOOTER
--------------------------------*/

footer {
  background-color: #083452;
  color: #97a9b6;
  font-family: 'Open Sans', sans-serif;
}

.footer-container {
  max-width: 990px;
  margin: 0 auto;
}

footer section.bottom-bar img {
  vertical-align: middle;
}

footer section.bottom-bar nav {
  float: right;
}

/* transparent image is previous sibling to this ul: */

footer section.bottom-bar ul {
  display: inline-block;
}

footer section.bottom-bar ul li {
  display: inline-block;
}

footer li.right-border {
  border-right: 1px solid #53616b;
}
